@model AgenciaFinal.Models.Reserva

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ml-4">
    <a asp-action="Index" class="btn btn-primary p-2">
        <i class="fas fa-arrow-left fa-3x"></i>
    </a>
</div>
<div class="col-md-6 shadow p-3 mb-5 bg-white rounded " style="left:270px">
    <div class="card pb-2">
        <div class="card-header card-header-primary">
            <h4 class="card-title">Administrar Datos de reserva</h4>
            <p class="card-category">Detalles</p>
        </div>
        <div class="card-body">

            <div>
                <h4>Reserva</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.id_usuario.nombre)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.id_usuario.nombre)
                    </dd>

                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.id_alojamiento.barrio)
                    </dt>

                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.id_alojamiento.barrio)
                    </dd>


                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.id_alojamiento.ciudad)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.id_alojamiento.ciudad)
                    </dd>


                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.precio)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.precio)
                    </dd>


                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.fDesde)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.fDesde)
                    </dd>


                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.fHasta)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.fHasta)
                    </dd>

                </dl>
            </div>



            <div>

                <a asp-action="Edit" asp-route-id="@Model.id" class="btn btn-primary">EDITAR</a>
                
            </div>

        </div>
    </div>
</div>
