@model IEnumerable<AgenciaFinal.Models.Reserva>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Crear una nueva Reserva</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.contador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FDesde)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FHasta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PDesde)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phasta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.contador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FDesde)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FHasta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PDesde)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phasta)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
