@model IEnumerable<AgenciaFinal.Models.Reserva>

@{
    ViewData["Title"] = "Reservas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Panel Reservas</h1>

@if (TempData["reservaeditado"] != null)
{
    <div class="alert alert-warning alert-dismissible " style="font-size:13px" role="alert">
        @TempData["reservaeditado"]
        <button type="button" class="close" style="position:fixed" data-dismiss="alert" arial-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
@if (TempData["reservaeliminada"] != null)
{
    <div class="alert alert-warning alert-dismissible " style="font-size:13px" role="alert">
        @TempData["reservaeliminada"]
        <button type="button" class="close" style="position:fixed" data-dismiss="alert" arial-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
@if (TempData["reservacreada"] != null)
{
    <div class="alert alert-warning alert-dismissible " style="font-size:13px" role="alert">
        @TempData["reservacreada"]
        <button type="button" class="close" style="position:fixed" data-dismiss="alert" arial-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<p>
    <a asp-action="Create">Crear una nueva Reserva</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id_usuario.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_alojamiento.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_alojamiento.ciudad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fDesde)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fHasta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id_usuario.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.id_alojamiento.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.id_alojamiento.ciudad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fDesde)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fHasta)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.id">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
