@model IEnumerable<AgenciaFinal.Models.Alojamiento>


@{
    ViewData["Title"] = "Alojamientos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["alojeditado"] != null)
{
    <div class="alert alert-warning alert-dismissible " style="font-size:13px" role="alert">
        @TempData["alojeditado"]
        <button type="button" class="close" style="position:fixed" data-dismiss="alert" arial-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
@if (TempData["alojeliminado"] != null)
{
    <div class="alert alert-warning alert-dismissible " style="font-size:13px" role="alert">
        @TempData["alojeliminado"]
        <button type="button" class="close" style="position:fixed" data-dismiss="alert" arial-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
@if (TempData["alojcreado"] != null)
{
    <div class="alert alert-warning alert-dismissible " style="font-size:13px" role="alert">
        @TempData["alojcreado"]
        <button type="button" class="close" style="position:fixed" data-dismiss="alert" arial-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<div class="content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Alojamientos</h4>
                        <p class="card-category">Administre los alojamientos</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="font-weight-bold" style="font-size:14px; text-align:center;">
                                            @Html.DisplayNameFor(model => model.barrio)
                                        </th>
                                        <th class="font-weight-bold" style="font-size:14px; text-align:center;">
                                            @Html.DisplayNameFor(model => model.ciudad)
                                        </th>
                                        <th class="font-weight-bold" style="font-size:14px; text-align:center;">
                                            @Html.DisplayNameFor(model => model.estrellas)
                                        </th>
                                        <th class="font-weight-bold" style="font-size:14px; text-align:center;">
                                            @Html.DisplayNameFor(model => model.tv)
                                        </th>
                                        <th class="font-weight-bold" style="font-size:14px; text-align:center;">
                                            @Html.DisplayNameFor(model => model.hotel.precio_por_persona)
                                        </th>
                                        <th class="font-weight-bold" style="font-size:14px; text-align:center;">
                                            @Html.DisplayNameFor(model => model.cabania.habitaciones)
                                        </th>
                                        <th class="font-weight-bold" style="font-size:14px; text-align:center;">
                                            @Html.DisplayNameFor(model => model.cabania.precioPorDia)
                                        </th>
                                        <th class="font-weight-bold" style="font-size:14px; text-align:center;">
                                            @Html.DisplayNameFor(model => model.cabania.banios)
                                        </th>
                                        <th class="font-weight-bold" style="font-size:14px; text-align:center;">
                                            @Html.DisplayNameFor(model => model.esHotel)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                @if (Model != null)
                                {

                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                        <tr>
                                            <td style="text-align:center;">
                                                @Html.DisplayFor(modelItem => item.barrio)
                                            </td>
                                            <td style="text-align:center;">
                                                @Html.DisplayFor(modelItem => item.ciudad)
                                            </td>
                                            <td style="text-align:center;">
                                                @Html.DisplayFor(modelItem => item.estrellas)
                                            </td>
                                            <td style="text-align:center;">
                                                @Html.DisplayFor(modelItem => item.tv)
                                            </td>
                                            <td style="text-align:center;">
                                                @Html.DisplayFor(modelItem => item.hotel.precio_por_persona)
                                            </td>
                                            <td style="text-align:center;">
                                                @Html.DisplayFor(modelItem => item.cabania.habitaciones)
                                            </td>
                                            <td style="text-align:center;">
                                                @Html.DisplayFor(modelItem => item.cabania.precioPorDia)
                                            </td>
                                            <td style="text-align:center;">
                                                @Html.DisplayFor(modelItem => item.cabania.banios)
                                            </td>
                                            <td style="text-align:center;">
                                                @Html.DisplayFor(modelItem => item.esHotel)
                                            </td>
                                            <td style="text-align:center;">
                                                <a asp-action="Edit" asp-controller="Alojamientos" asp-route-id="@item.id" class="material-icons">edit</a>
                                                <a asp-action="Details" asp-controller="Alojamientos" asp-route-id="@item.id" class="material-icons">description</a>
                                                <a asp-action="Delete" asp-controller="Alojamientos" asp-route-id="@item.id" class="material-icons">delete</a>
                                            </td>

                                        </tr>
                                        }
                                    </tbody>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



