@model AgenciaFinal.Models.Usuario

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ml-4">
    <a asp-action="Index" class="btn btn-primary p-2">
        <i class="fas fa-arrow-left fa-3x"></i>
    </a>
</div>
<div class="col-md-6 shadow p-3 mb-5 bg-white rounded " style="left:270px">
    <div class="card pb-2">
        <div class="card-header card-header-primary">
            <h4 class="card-title">Administrar Datos del Usuario</h4>
            <p class="card-category">Detalles</p>
        </div>
        <div class="card-body">

            <div>
                <h4>Usuario</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.nombre)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.nombre)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.correoElectronico)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.correoElectronico)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.password)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.password)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.DNI)
                    </dt>
                    <dt class="col-sm-8">
                        @Html.DisplayFor(model => model.DNI)
                    </dt>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.bloqueado)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.bloqueado)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.esAdmin)
                    </dt>
                    <dt class="col-sm-8">
                        @Html.DisplayFor(model => model.esAdmin)
                    </dt>
                </dl>
            </div>


            <form asp-action="Delete">
                <input type="hidden" asp-for="id" />
                <input type="submit" value="ELIMINAR" class="btn btn-danger" /> 
       
            </form>

        </div>
    </div>
</div>



