@model AgenciaFinal.Models.Usuario

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


<h1>Detalles del Usuario</h1>

<td style="text-align:center;">
</td>
<td style="text-align:center;">
</td>
<td style="text-align:center;">
</td>
<td style="text-align:center;">
</td>
<td style="text-align:center;">
</td>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nombre
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.nombre)
        </dt>
        <dt class="col-sm-2">
            Correo Electrónico
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.correoElectronico)
        </dd>
        <dt class="col-sm-2">
           Contraseña
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.password)
        </dd>
        <dt class="col-sm-2">
            DNI
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.DNI)
        </dt>
        <dt class="col-sm-2">
            Bloqueado
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.bloqueado)
        </dd>
        <dt class="col-sm-2">
            Administrador
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.esAdmin)
        </dt>
    </dl>
</div>



<div>
    <a asp-action="AdminEditUsuario" asp-route-id="@Model.id" class="btn btn-success">EDITAR</a>
    <a asp-action="Index" class="btn btn-warning">VOLVER</a> 
</div>