@model IEnumerable<AgenciaFinal.Models.Alojamiento>


@{
    ViewData["Title"] = "Alojamientos";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<h1 class="text-center">Todos lo Alojamientos Disponibles</h1>

<p class="text-center">
    <a asp-action="BusquedaDeAlojamiento" >BUSCAR ALOJAMIENTOS</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.barrio)</th>
            <th>@Html.DisplayNameFor(model => model.ciudad)</th>
            <th>@Html.DisplayNameFor(model => model.estrellas)</th>
            <th>@Html.DisplayNameFor(model => model.tv)</th>
            <th>@Html.DisplayNameFor(model => model.hotel.precio_por_persona)</th>
            <th>@Html.DisplayNameFor(model => model.cabania.habitaciones)</th>
            <th>@Html.DisplayNameFor(model => model.cabania.precioPorDia)</th>
            <th>@Html.DisplayNameFor(model => model.cabania.banios)</th>
            <th>@Html.DisplayNameFor(model => model.esHotel)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.barrio)</td>
                <td>@Html.DisplayFor(modelItem => item.ciudad)</td>
                <td>@Html.DisplayFor(modelItem => item.estrellas)</td>
                <td>@Html.DisplayFor(modelItem => item.tv)</td>
                <td>@Html.DisplayFor(modelItem => item.hotel.precio_por_persona)</td>
                <td>@Html.DisplayFor(modelItem => item.cabania.habitaciones)</td>
                <td>@Html.DisplayFor(modelItem => item.cabania.precioPorDia)</td>
                <td>@Html.DisplayFor(modelItem => item.cabania.banios)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.esHotel)
                </td>
                <td>
                    <a asp-action="Reservar" asp-route-id="@item.id">Reservar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
