@model IEnumerable<AgenciaFinal.Models.Usuario>

@{
    ViewData["Title"] = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (TempData["guardado"] != null)
{
    <div class="alert alert-warning alert-dismissible " style="font-size:13px" role="alert">
        @TempData["guardado"]
        <button type="button" class="close" style="position:fixed" data-dismiss="alert" arial-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
@if (TempData["eliminado"] != null)
{
    <div class="alert alert-warning alert-dismissible " style="font-size:13px" role="alert">
        @TempData["eliminado"]
        <button type="button" class="close" style="position:fixed" data-dismiss="alert" arial-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
@if (TempData["creador"] != null)
{
    <div class="alert alert-warning alert-dismissible " style="font-size:13px" role="alert">
        @TempData["creador"]
        <button type="button" class="close" style="position:fixed" data-dismiss="alert" arial-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}




<div class="content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Usuarios</h4>
                        <p class="card-category">Administre los usuarios</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="font-weight-bold" style="font-size:14px; text-align:center;">
                                            @Html.DisplayNameFor(model => model.nombre)
                                        </th>
                                        <th class="font-weight-bold" style="font-size: 14px; text-align: center;">
                                            @Html.DisplayNameFor(model => model.correoElectronico)
                                        </th>
                                        <th class="font-weight-bold" style="font-size: 14px; text-align: center;">
                                            @Html.DisplayNameFor(model => model.DNI)
                                        </th>

                                        <th class="font-weight-bold" style="font-size: 14px; text-align: center;">
                                            @Html.DisplayNameFor(model => model.bloqueado)
                                        </th>
                                        <th class="font-weight-bold" style="font-size: 14px; text-align: center;">
                                            @Html.DisplayNameFor(model => model.esAdmin)
                                        </th>
                                        <th class="font-weight-bold" style="font-size: 14px; text-align: center;">ACCIONES</th>
                                    </tr>
                                </thead>
                                @if (Model != null)
                                {
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td style="text-align:center;">
                                                    @Html.DisplayFor(modelItem => item.nombre)
                                                </td>
                                                <td style="text-align:center;">
                                                    @Html.DisplayFor(modelItem => item.correoElectronico)
                                                </td>
                                                <td style="text-align:center;">
                                                    @Html.DisplayFor(modelItem => item.DNI)
                                                </td>
                                                <td style="text-align:center;">
                                                    @Html.DisplayFor(modelItem => item.bloqueado)
                                                </td>
                                                <td style="text-align:center;">
                                                    @Html.DisplayFor(modelItem => item.esAdmin)
                                                </td>
                                                <td style="text-align:center;">

                                                    <a asp-action="AdminEditUsuario" asp-controller="Usuarios" asp-route-id="@item.id" class="material-icons">edit</a>
                                                    <a asp-action="Details" asp-controller="Usuarios" asp-route-id="@item.id" class="material-icons">details</a>
                                                    <a asp-action="Delete" asp-controller="Usuarios" asp-route-id="@item.id" class="material-icons">delete</a>
                                                </td>


                                            </tr>
                                        }
                                    </tbody>
                                }
                            </table>

                            <a asp-action="Create" class="btn btn-primary">CREAR USUARIO</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



